<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout" xmlns:th="http://www.thymeLeaf.org"
    layout:decorate="~{fragments/main_layout}">

<body>
    <div layout:fragment="content">
        <div class="card o-hidden border-o shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <form method="post" th:action="@{/book/new}" th:object="${bookForm}">
                                <div class="form-group row d-flex align-items-center">
                                    <div class="col-sm-2">Title</div>
                                    <div class="col-sm-8 mb-3 mb-sm-0">
                                        <input type="text" id="name" name="name" th:field="*{name}"
                                            class="form-control form-control-user">
                                        <small class="text-danger" th:if="${#fields.hasErrors('name')}"
                                            th:errors="*{name}"></small>
                                    </div>
                                </div>
                                <div class="form-group row d-flex align-items-center">
                                    <div class="col-sm-2">Author</div>
                                    <div class="col-sm-8 mb-3 mb-sm-0">
                                        <input type="text" id="author" name="author" th:field="*{author}"
                                            class="form-control form-control-user">
                                        <small class="text-danger" th:if="${#fields.hasErrors('author')}"
                                            th:errors="*{author}"></small>

                                    </div>
                                </div>
                                <div class="form-group row d-flex align-items-center">
                                    <div class="col-sm-2">Description</div>
                                    <div class="col-sm-8 mb-3 mb-sm-0">
                                        <textarea name="description" id="description" th:field="*{description}" rows="5"
                                            cols="20" class="form-control form-control-user"></textarea>
                                        <small class="text-danger" th:if="${#fields.hasErrors('description')}"
                                            th:errors="*{description}"></small>
                                    </div>
                                </div>
                                <div class="form-group row d-flex align-items-center gap-2">
                                    <div class="col-sm-2"><button type="reset"
                                            class="btn btn-danger w-100">Cancel</button></div>
                                    <div class="col-sm-2 mb-3 mb-sm-0">
                                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>